{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-around">
        <div class="col-6">
            <div class="row">
                <div class="dropdown">
                    <h5>Filtrer les sorties</h5>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Site organisateur :
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for site in sites %}
                            <a class="dropdown-item" href="/{{ site.id }}">{{ site.nom }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-around">
                <label for="myInput">Le nom de la sortie contient :</label>
                <input type="text" id="myInput" onkeyup="tri()" placeholder="rechercher">
            </div>
            <div class="row d-flex justify-content-around my-auto" style="width: 100%">
                <label for="date-debut">Entre</label>
                <input type="date" id="date-debut" onchange="tri()">

                <label for="date-fin">et</label>
                <input type="date" id="date-fin" onchange="tri()">
            </div>
        </div>
        <div class="col-5">
            <div>
                <input type="checkbox" checked id="organisateur" onclick="tri()">
                <label for="organisateur">Sorties dont je suis l'organisateur/trice</label>
            </div>
            <div>
                <input type="checkbox" checked id="inscrit" onclick="tri()">
                <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
            </div>
            <div>
                <input type="checkbox" checked id="non_inscrit" onclick="tri()">
                <label for="non_inscrit">Sorties auquelles je ne suis pas inscrit/e</label>
            </div>
            <div>
                <input type="checkbox" checked id="passe" onclick="tri()">
                <label for="passe">Sorties passées</label>
            </div>
        </div>
    </div>

    <div style="overflow-x:auto;">
        <h1 style="text-align: center">Liste des sorties programmées </h1>
        <table style="width: 100%;text-align: center" class="m-auto border table table-hover">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Date clôture inscriptions</th>
                <th scope="col">Inscrits/Places dispo</th>
                <th scope="col">État de la sortie</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col" colspan="2" style="text-align: center">Actions</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for sortie in liste %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.datedebut|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.participants|length~"/"~sortie.nbinscriptionsmax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>{% if app.user in sortie.participants %}X{% endif %}</td>
                    <td>{{ sortie.organisateur.username }}</td>

                    {% if app.user in sortie.participants %}
                        {% if sortie.dateDebut > date() %}
                            <td><a href="/sedesister/{{ sortie.id }}">Se désister</a></td>
                        {% endif %}
                    {% else  %}
                        {% if sortie.etat.libelle == "Ouverte" and sortie.participants|length < sortie.nbinscriptionsmax %}
                            <td><a href="/participer/{{ sortie.id }}">S'inscrire</a></td>
                        {% else %}
                            <td><p>Inscriptions clôturées</p></td>
                        {% endif %}
                    {% endif %}
                    <td><a href="sortie/detailsortie/{{ sortie.id }}">Afficher détails</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <script>
            function tri() {
                let table, td, tr, i;
                let input = document.getElementById("myInput");
                let filter = input.value.toUpperCase();
                let non_inscrit = document.getElementById("non_inscrit");
                let inscrit = document.getElementById("inscrit");
                let organisateur = document.getElementById("organisateur");
                let passe = document.getElementById("passe");
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                if (organisateur.checked && non_inscrit.checked && inscrit.checked) {
                    for (i = 0; i < tr.length; i++) {
                        tr[i].style.display = "";
                    }
                } else if (organisateur.checked && non_inscrit.checked === false && inscrit.checked) {
                    for (i = 0; i < tr.length; i++) {
                        let t_inscrit = tr[i].getElementsByTagName("td")[5];
                        let t_org = tr[i].getElementsByTagName("td")[6];
                        if (t_inscrit && t_org) {
                            let inscrit_value = t_inscrit.textContent || t_inscrit.innerText;
                            let org_value = t_org.textContent || t_org.innerText;
                            if (inscrit_value === "X" || org_value === "{{ app.user.username }}") {
                                tr[i].style.display = "";
                            } else tr[i].style.display = "none";
                        }
                    }
                } else if (organisateur.checked && non_inscrit.checked && inscrit.checked === false) {
                    for (i = 0; i < tr.length; i++) {
                        let t_inscrit = tr[i].getElementsByTagName("td")[5];
                        let t_org = tr[i].getElementsByTagName("td")[6];
                        if (t_inscrit && t_org) {
                            let inscrit_value = t_inscrit.textContent || t_inscrit.innerText;
                            let org_value = t_org.textContent || t_org.innerText;
                            if (inscrit_value === "" || org_value === "{{ app.user.username }}") {
                                tr[i].style.display = "";
                            } else tr[i].style.display = "none";
                        }
                    }
                } else if (organisateur.checked === false && non_inscrit.checked && inscrit.checked) {
                    for (i = 0; i < tr.length; i++) {
                        tr[i].style.display = "";
                    }
                } else if (organisateur.checked && non_inscrit.checked === false && inscrit.checked === false) {
                    for (i = 0; i < tr.length; i++) {
                        let t_org = tr[i].getElementsByTagName("td")[6];
                        if (t_org) {
                            let org_value = t_org.textContent || t_org.innerText;
                            if (org_value === "{{ app.user.username }}") {
                                tr[i].style.display = "";
                            } else tr[i].style.display = "none";
                        }
                    }
                } else if (organisateur.checked === false && non_inscrit.checked && inscrit.checked === false) {
                    for (i = 0; i < tr.length; i++) {
                        let t_inscrit = tr[i].getElementsByTagName("td")[5];
                        if (t_inscrit) {
                            let inscrit_value = t_inscrit.textContent || t_inscrit.innerText;
                            if (inscrit_value === "") {
                                tr[i].style.display = "";
                            } else tr[i].style.display = "none";
                        }
                    }
                } else if (organisateur.checked === false && non_inscrit.checked === false && inscrit.checked) {
                    for (i = 0; i < tr.length; i++) {
                        let t_inscrit = tr[i].getElementsByTagName("td")[5];
                        if (t_inscrit) {
                            let inscrit_value = t_inscrit.textContent || t_inscrit.innerText;
                            if (inscrit_value === "X") {
                                tr[i].style.display = "";
                            } else tr[i].style.display = "none";
                        }
                    }
                } else {
                    for (i = 0; i < tr.length; i++) {
                        tr[i].style.display = "none";
                    }
                }
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[4];
                    let txtValue = td.textContent || td.innerText;
                    if (passe.checked) {
                        if (td && txtValue && txtValue === "passée") {
                            tr[i].style.display = "";
                        }
                    } else {
                        if (td && txtValue && txtValue === "passée") {
                            tr[i].style.display = "none";
                        }
                    }
                }
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    let txtValue = td.textContent || td.innerText;
                    if (txtValue && txtValue !== "") {
                        if (td) {
                            if (tr[i].style.display === "") {
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }
                        }
                    }
                }
                date_tri();
            }

            function date_tri() {
                let date_debut = new Date(document.getElementById("date-debut").value).setHours(0, 0);
                let date_fin = new Date(document.getElementById("date-fin").value).setHours(0, 0);
                console.log(date_debut);
                let table = document.getElementById("myTable");
                let tr = table.getElementsByTagName("tr");
                if (date_debut) {
                    for (let i = 0; i < tr.length; i++) {
                        let td = tr[i].getElementsByTagName("td")[1];
                        if (td) {
                            let date_value = td.textContent || td.innerText;
                            console.log(date_value);
                            console.log(str_to_date(date_value.substring(0, 10)));
                            date_value = new Date(str_to_date(date_value.substring(0, 10)));
                            console.log(date_value);
                            if (tr[i].style.display === "") {
                                if (date_value >= date_debut) {
                                    tr[i].style.display = "";
                                } else tr[i].style.display = "none";
                            }
                        }
                    }
                }
                if (date_fin) {
                    {
                        for (let i = 0; i < tr.length; i++) {
                            let td = tr[i].getElementsByTagName("td")[1];
                            if (td) {
                                let date_value = td.textContent || td.innerText;
                                date_value = new Date(str_to_date(date_value.substring(0, 10)));
                                if (tr[i].style.display === "") {
                                    if (date_value <= date_fin) {
                                        tr[i].style.display = "";
                                    } else tr[i].style.display = "none";
                                }
                            }
                        }
                    }
                }
            }

            function str_to_date(date1) {
                return date1.substring(6) + "-" + date1.substring(3, 5) + "-" + date1.substring(0, 2) + " 00:00:00";
            }
        </script>
    </div>
{% endblock %}
