{% extends'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row text-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <p>Pseudo : {{ app.user.username }}</p>
        <p>Nom : {{ app.user.nom }}</p>
        <p>Prénom : {{ app.user.prenom }}</p>
        <p>Téléphone : {{ app.user.telephone }}</p>
        <p>Email : {{ app.user.mail }}</p>
        <p>Site de rattachement : {{ app.user.site.nom }}</p>
        <div><img class="img-thumbnail" style="width: 200px" src="{{ asset('/uploads/images/'~ app.user.image) }}" alt="image"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
            <a href="{{ url('modification') }}" class="card-link">Modifier</a>
        </div>
    </div>
</div>
<div style="overflow-x:auto; margin-top: 3%">
    <h5 style="text-align: center">Brouillons : </h5>
    <table style="width: 100%;text-align: center" class="m-auto border table table-hover">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Cloture</th>
            <th scope="col">inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col" colspan="2" style="text-align: center">Actions</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for sortie in liste %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.datedebut|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.participants|length~"/"~sortie.nbinscriptionsmax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{% if app.user in sortie.participants %}X{% endif %}</td>
                <td>{{ sortie.organisateur.username }}</td>
                <td><a href="sortie/detailsortie/{{ sortie.id }}">Afficher</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}
