{% extends'base.html.twig' %}

{% block title %} {{ parent() }} | Mon profil {% endblock %}

{% block body %}

<h5 style="text-align: center">Mon profil</h5>
    <div class="container d-flex justify-content-around">
        <div class="col-5 ">
            <div class="d-flex flex-row bd-highlight mb-2">
                <div class="p-2 bd-highlight">
                    <p class="m-2">Pseudo : {{ app.user.username }}</p>
                    <p class="m-2">Nom : {{ app.user.nom }}</p>
                    <p class="m-2">Prénom : {{ app.user.prenom }}</p>
                    <p class="m-2">Téléphone : {{ app.user.telephone }}</p>
                    <p class="m-2">Email : {{ app.user.mail }}</p>
                    <p class="m-2">Site de rattachement : {{ app.user.site.nom }}</p>
                    <a class="btn btn-primary mx-2" href="{{ url('modification') }}" class="card-link">Modifier</a>
                </div>
            </div>
        </div>
        <div class="col-5 ">
            <div class="d-flex flex-row bd-highlight mb-2">
                <div class="p-2 bd-highlight">
                    <div>
                       <img class="img-thumbnail" style="width: 200px" src="{{ asset('/uploads/images/'~ app.user.image) }}" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>

<div style="overflow-x:auto;" class="mx-auto" style="width:500px; overflow:auto; margin-top: 3%">
    <h5 style="text-align: center">Mes brouillons</h5>
    {% if liste|length == 0 %}
        <p class="d-flex justify-content-center">Vous n'avez aucun brouillon enregistré pour le moment.</p>
    {% else %}
    <table style="text-align: center" class="m-auto border table table-hover">
        <thead>
        <tr>
            <th style="width: 60%;text-align: center" scope="col" class="align-middle">Nom de la sortie</th>
            <th style="width: 100%;text-align: center" scope="col" class="align-middle">Date de la sortie</th>
            <th style="width: 100%;text-align: center" scope="col" class="align-middle">Clôture des inscriptions</th>
            <th scope="col" colspan="3" style="text-align: center" class="align-middle">Actions</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for sortie in liste %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.datedebut|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                <td><a href="{{ path('modifiersortie', {'id': sortie.id}) }}">Modifier</a></td>
                <td><a href="{{ path('publiersortie', {'id': sortie.id}) }}">Publier</a></td>
                <td><a href="{{ path('supprimersortie', {'id': sortie.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

</div>
    {% endif %}
{% endblock %}
