{% extends'base.html.twig' %}

{% block title %} {{ parent() }} | Profil de {{ user.username}} {% endblock %}

{% block body %}

<h5 style="text-align: center">Profil de {{ user.username }}</h5>
    <div class="container d-flex justify-content-around">
        <div class="col-5 ">
            <div class="d-flex flex-row bd-highlight mb-2">
                <div class="p-2 bd-highlight">
                    <p class="m-2">Pseudo : {{ user.username }}</p>
                    <p class="m-2">Nom : {{ user.nom }}</p>
                    <p class="m-2">Prénom : {{ user.prenom }}</p>
                    <p class="m-2">Téléphone : {{ user.telephone }}</p>
                    <p class="m-2">Email : {{ user.mail }}</p>
                    <p class="m-2">Site de rattachement : {{ user.site.nom }}</p>
                </div>
            </div>
        </div>
        <div class="col-5 ">
            <div class="d-flex flex-row bd-highlight mb-2">
                <div class="p-2 bd-highlight">
                    <div>
                        <img class="img-thumbnail" style="width: 200px" src="{{ asset('/uploads/images/'~ user.image) }}" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
