{% extends'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row text-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <p>Pseudo : {{ user.username }}</p>
        <p>Nom : {{ user.nom }}</p>
        <p>Prénom : {{ user.prenom }}</p>
        <p>Téléphone : {{ user.telephone }}</p>
        <p>Email : {{ user.mail }}</p>
        <p>Site de rattachement : {{ user.site.nom }}</p>
        <div><img src="{{ asset('/uploads/images/'~ user.image) }}" alt="image"></div>
        </div>
    </div>
</div>

{% endblock %}
