{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div style="overflow-x:auto;">
        <h3 style="text-align: center">Gestion des Utilisateurs </h3>
        <table style="width: 100%;text-align: center" class="m-auto border table table-hover">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Mail</th>
                <th scope="col">Admin</th>
                <th scope="col">Actif</th>
                <th scope="col"><input id="selectall" onclick="selectAll()" type="checkbox"></th>
            </tr>
            </thead>
            <tbody id="myTable">
            <form> <!--action="{{ url('admin') }}" method="post" >-->
                {% for user in liste %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.mail }}</td>
                        <td>{% if user.admin == true %}X{% endif %}</td>
                        <td>{% if user.actif == true %}X{% endif %}</td>
                        <td><input value="{{ user.id }}" type="checkbox"></td>
                    </tr>
                {% endfor %}
                <div class="container d-flex justify-content-around">
                    <div class="d-flex flex-row bd-highlight">
                        <a class="btn btn-outline-primary m-2" href="{{ url('inscription') }}">Ajouter un utilisateur
                        </a>
                        <a class="btn btn-outline-primary m-2" href="{{ url('upload') }}">Ajouter plusieurs utilisateurs (.csv)
                        </a>
                    </div>
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <button class="btn btn-outline-danger m-2" id="3" type="none" onclick="activer(this.id)">Supprimer
                        </button>
                        <button class="btn btn-outline-primary m-2" id="2" type="none" onclick="activer(this.id)">Desactiver
                        </button>
                        <button class="btn btn-outline-primary m-2" id="1" type="none" onclick="activer(this.id)">Activer
                        </button>
                    </div>
                </div>

            </form>
            </tbody>
        </table>
    </div>
    <script>
        function activer(id) {
            let elchecked = document.forms[0];
            let tab = [];
            let i;
            let item_checked = 0;
            let check = true;
            for (i = 0; i < elchecked.length; i++) {
                if (elchecked[i].checked) {
                    tab.push(elchecked[i].value);
                    item_checked++;
                }
            }
            let path = "";
            let msg = "";
            switch (id) {
                case '1' :
                    path = "{{ path('admin_activer') }}";
                    msg = " ont été activé(s).";
                    break;
                case '2':
                    path = "{{ path('admin_desactiver') }}";
                    msg = " ont été desactivé(s).";
                    break;
                case '3':
                    path = "{{ path('admin_suppr') }}";
                    msg = " ont été supprimé(s).";
                    break;
            }
            if (id == 3) {
                if (!confirm("Vous êtes sur le point de supprimer " + item_checked + " utilisateurs."))
                    check = false;
            }
            if (check == true) {
                $.ajax({
                    url: path,
                    data: {liste: tab},
                    method: "POST",
                    success: function (data) {
                        alert(data + msg);
                    },
                    error: function (jqXHR, status, error) {
                        console.log('error ' + error);
                    }
                });
            }

        }

        function selectAll() {
            let checkall = document.getElementById('selectall');
            if (checkall.checked === true) {
                let elchecked = document.forms[0];
                for (let i = 0; i < elchecked.length; i++) {
                    elchecked[i].checked = true;
                }
            } else {
                let elchecked = document.forms[0];
                for (let i = 0; i < elchecked.length; i++) {
                    elchecked[i].checked = false;
                }
            }
        }


    </script>
{% endblock %}
