{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Création de sortie{% endblock %}

{% block body %}

    {{ form_start(SortieForm) }}
    <div class="container d-flex justify-content-around">
        <div class="col-6 ">
            <div class="d-flex flex-row bd-highlight mb-2">
                <div class="p-2 bd-highlight">
                    {{ form_row(SortieForm.nom) }}
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    {{ form_row(SortieForm.nbinscriptionsmax) }}
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    {{ form_row(SortieForm.duree) }}
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-3 bd-highlight">
                    {{ form_row(SortieForm.description) }}
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-3 bd-highlight">
                    {{ form_row(SortieForm.datedebut) }}
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-3 bd-highlight">
                    {{ form_row(SortieForm.dateLimiteInscription) }}
                </div>
            </div>
        </div>

        <div class="col-5 ">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    {{ form_row(SortieForm.lieu) }}
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-3 bd-highlight">
                    <p id="ville">Ville :</p>
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-3 bd-highlight">
                    <p id="rue">Rue :</p>
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-3 bd-highlight">
                    <p id="cp">Code Postal :</p>
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-3 bd-highlight">
                    <p id="latitude">Latitude :</p>
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-3 bd-highlight">
                    <p id="longitude">Longitude :</p>
                </div>

            </div>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        {{ form_row(SortieForm.Publier) }}
        {{ form_row(SortieForm.Enregistrer) }}
    </div>

    {{ form_end(SortieForm) }}
    <script>
        let lieu = document.getElementById('sortie_lieu');
        let ville = document.getElementById('ville');
        let rue = document.getElementById('rue');
        let cp = document.getElementById('cp');
        let lat = document.getElementById('latitude');
        let long = document.getElementById('longitude');
        // Quand une nouvelle <option> est selectionnée
        lieu.addEventListener('change', function() {

            let index = lieu.selectedIndex;
            $.ajax({
                url : "{{ path('lieu') }}",
                data : {id : index },
                method : "POST",
                success: function(data){
                    ville.innerHTML = "Ville : "+ data.ville.nom;
                    rue.innerHTML = "Rue : "+ data.rue;
                    cp.innerHTML = "Code postal : "+ data.ville.codePostal;
                    lat.innerHTML = "Latitude : "+ data.latitute;
                    long.innerHTML = "Longitude : "+ data.longitude;
                    },
                error : function (jqXHR, status, error){
                    console.log('error ' + error);
                }
            });
        })
    </script>


{% endblock %}