{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Détails de sortie{% endblock %}

{% block body %}

    Nom de la sortie : {{ sortie.nom }} <br>
    Description : {{ sortie.description }} <br>
    Date de début de sortie : {{ sortie.datedebut|date('d-m-Y H:i') }}<br>
    Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d-m-Y H:i') }}<br>
    Nombre maximum de participants : {{ sortie.nbinscriptionsmax }}<br>
    <a href="{{ path('modifiersortie', {'id': sortie.id}) }}" class="btn btn-primary">Modifier ma sortie</a>



{% endblock %}