{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Détails de sortie{% endblock %}

{% block body %}

    <h5 style="text-align: center">{{ sortie.nom }}</h5>
    <div class="container d-flex justify-content-around">
        <div class="col-5">
            <p class="m-auto">Description : {{ sortie.description }}</p>
        </div>
        <div class="col-5">
            <p>Date de début de sortie : {{ sortie.datedebut|date('d-m-Y H:i') }}</p>
            <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d-m-Y H:i') }}</p>
            <p>Nombre maximum de participants : {{ sortie.nbinscriptionsmax }}</p>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <a href="{{ path('modifiersortie', {'id': sortie.id}) }}" class="btn btn-primary">Modifier ma sortie</a>
        {% if app.user == sortie.organisateur %}
            <td><a class="btn btn-danger" href="{{ url('sortie_delete', {'id': sortie.id})}}">Annuler</a></td>
        {% endif %}
    </div>

{% endblock %}