{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Détails de sortie{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-around">
    <div class="col-6 ">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-0 bd-highlight">
                Nom de la sortie : {{ sortie.nom }}
            </div>
        </div>

        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-0 bd-highlight">
                Description : {{ sortie.description }}
            </div>
        </div>

    <div class="container d-flex justify-content-around">
        <div class="col-6 ">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-0 bd-highlight">

                </div>
            </div>
        </div>

            <div class="d-flex flex-row bd-highlight mb-3">



            </div>


            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-0 bd-highlight">
                    Date de début de sortie : {{ sortie.datedebut|date('d-m-Y H:i') }}
                </div>
            </div>
        </div>

    </div>


    <br>
    Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d-m-Y H:i') }}<br>
    Nombre maximum de participants : {{ sortie.nbinscriptionsmax }}<br>
    <a href="{{ path('modifiersortie', {'id': sortie.id}) }}" class="btn btn-primary">Modifier ma sortie</a>



{% endblock %}