{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Détails de sortie{% endblock %}

{% block body %}

    <h5 style="text-align: center">{{ sortie.nom }}</h5>
    <div class="container d-flex justify-content-around">
        <div class="col-5">
            <p class="m-auto">Description : {{ sortie.description }}</p>
        </div>
        <div class="col-5">
            <p>Date de début de sortie : {{ sortie.datedebut|date('d-m-Y H:i') }}</p>
            <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d-m-Y H:i') }}</p>
            <p>Nombre maximum de participants : {{ sortie.nbinscriptionsmax }}</p>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        {% if app.user == sortie.organisateur and sortie.etat.id == 1 %}
        <a href="{{ path('modifiersortie', {'id': sortie.id}) }}" class="btn btn-primary">Modifier ma sortie</a>
        {% endif %}
        {% if app.user == sortie.organisateur and sortie.etat.id < 4 %}
            <td><a class="btn btn-danger" href="{{ url('annulersortie', {'id': sortie.id})}}">Annuler</a></td>
        {% endif %}
    </div>

    <div style="overflow-x:auto;">
    <h1 style="text-align: center">Liste des participants à la sortie</h1>
    <table style="width: 50%;text-align: left" class="m-auto border table table-hover">
        <thead>
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for participants in sortie.participants %}
            <tr>
                {% if participants.id == app.user.id%}
                    <td><a href="{{ path('profil') }}">{{ participants.username }}</a></td>
                {% else %}
                    <td><a href="{{ path('profilAutreUser', {'username': participants.username}) }}">{{ participants.username }}</a></td>
                {% endif %}
                <td>{{ participants.nom }}</td>
                <td>{{ participants.prenom }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}