{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier la sortie{% endblock %}

{% block body %}

    {{ form_start(SortieForm) }}

    <div class="container d-flex justify-content-around">
        <div class="col-6 ">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <p>{{ form_row(SortieForm.nom) }}</p>
                    <p>{{ form_row(SortieForm.nbinscriptionsmax) }}</p>
                    <p>{{ form_row(SortieForm.duree) }}</p>
                    <p>{{ form_row(SortieForm.description) }}</p>
                    <p>{{ form_row(SortieForm.datedebut) }}</p>
                    <p>{{ form_row(SortieForm.dateLimiteInscription) }}</p>
                </div>
            </div>
        </div>

        <div id="first" class="col-5 ">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <p>{{ form_row(SortieForm.lieu) }}</p>
                    <a href="{{ url('ajout_lieu') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </a>
                    <p id="ville">Ville : </p>
                    <p id="rue">Rue :</p>
                    <p id="cp">Code Postal :</p>
                    <p id="latitude">Latitude :</p>
                    <p id="longitude">Longitude :</p>
                    <p> {{ form_row(SortieForm.Publier) }} </p>
                    <p> {{ form_row(SortieForm.Enregistrer) }} </p>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(SortieForm) }}
    <script>
        function refresh() {
            let lieu = document.getElementById('sortie_lieu');
            let ville = document.getElementById('ville');
            let rue = document.getElementById('rue');
            let cp = document.getElementById('cp');
            let lat = document.getElementById('latitude');
            let long = document.getElementById('longitude');
            // Quand une nouvelle <option> est selectionnée

            let index = lieu.selectedIndex + 1;
            $.ajax({
                url: "{{ path('lieu') }}",
                data: {id: index},
                method: "POST",
                success: function (data) {
                    ville.innerHTML = "Ville : " + data.ville.nom;
                    rue.innerHTML = "Rue : " + data.rue;
                    cp.innerHTML = "Code postal : " + data.ville.codePostal;
                    lat.innerHTML = "Latitude : " + data.latitute;
                    long.innerHTML = "Longitude : " + data.longitude;
                },
                error: function (jqXHR, status, error) {
                    console.log('error ' + error);
                }
            });
        }

    </script>
    <script>
        objet = document.getElementById('first');
        objet.addEventListener("load", refresh());
    </script>

{% endblock %}