{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}

    <h1 style="text-align: center">Ville</h1>

<table style="width: 80%;text-align: center" class="m-auto border table table-hover">
    <thead>
    <tr>
        <th scope="col">Ville</th>
        <th scope="col">Code Postal</th>
        <th scope="col" colspan="2" style="text-align: center">Actions</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {% for ville in ville %}
        <tr>
            <td scope="row">{{ ville.nom }}</td>
            <td>{{ ville.codePostal }}</td>
            <td><a href="{{ url('update', {'id': ville.id})}}">Modifier</a></td>
            <td><a href="{{ url('delete', {'id': ville.id})}}">Supprimer</a></td>
        </tr>
    {% endfor %}
</table>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary text-uppercase btn-block">Ajouter</button>
    {{ form_end(form) }}

{% endblock %}
